.formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #000000;
  }
  
  .form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
  }
  
  .form h2 {
    text-align: center;
    color: #000000;
  }
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .formGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .formActions {
    display: flex;
    justify-content: space-between;
  }
  
  .checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: -0.5rem 0 -0.5rem;
  }

  .invalid {
    border: 1px solid red; 
    background-color: #ffe6e6; 
  }
  
  .errorMessage {
    color: red;
    font-size: 0.8rem;
    margin: 0.5rem 0 0.2rem;
  }
  .cancelButton {
    background-color: #ff4040;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #e03030;
  }
  
  .submitButton {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #218838;
  }